.sidebar .jdh-abt-feed-hp-block h2
{
  border-bottom: 0;
  padding: 5px 10px;
  text-shadow: none;
  font-size: 1.5em;
  line-height: 1.25;
  color: #fff;
  background-color: #999;
  margin-bottom: 0;
}
.sidebar .jdh-abt-feed-hp-block .content
{
  margin-top: 0;
}
.sidebar .jdh-abt-feed-hp-block ul
{
  padding: 15px;
  background-color: #fff;
  margin: 0;
  list-style: none;
}
.sidebar .jdh-abt-feed-hp-block li 
{
  margin-top: .25em;
  margin-bottom: .5em;
}
.sidebar .jdh-abt-feed-hp-block a
{
  font-size: 1.25em;
  border-bottom: 0;
  color: #333;
}